<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- אפשר הורדת קבצים סטטיים -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <!-- הגדרת URL Rewriting -->
    <rewrite>
      <rules>
        <!-- אפשר גישה ישירה לקבצים סטטיים -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|ttf|woff|woff2))" />
          <action type="None" />
        </rule>
        
        <!-- הפנה כל השאר ל-index.html -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- מניעת קאשינג לקבצים דינמיים -->
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <remove name="Pragma" />
        <add name="Pragma" value="no-cache" />
        <remove name="Expires" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    
    <!-- אפשר שגיאות מפורטות יותר -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>